# for api runtime
fastapi
uvicorn[standard]
pydantic
chromadb
redis
aiohttp
psutil

torch
numpy
transformers

# for rag build
langchain
langchain-core
langchain-text-splitters
langchain-community
pypdf
python-docx
openpyxl
docx2txt
unstructured
python-dotenv
tiktoken
